.header {
  display: flex;
  align-items: center;
  background: #818081;
  padding: 20px;

  .title {
    margin: 0;
    margin-right: 20vw;
    color: #CDCCCD;
  }

  .content {
    color: #D2CFD1
  }
}
