/* You can add global styles to this file, and also import other style files */
@import 'src/assets/colors';
body {
  margin: 0;
}
.red-color {
  color: $red;
}

.orange-color {
  color: $orange;
}

.green-color {
  color: $green;
}

button {
  color: blue;
  background: transparent;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
